.not-found-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: #000000;
    background-color: white;
    opacity: 0.7;
    border-radius: 12px;
    padding: 20px; 
    height: fit-content;
    width: 70%;
    margin: auto;

   
}