nav {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100vw;
    background: linear-gradient(to right, #2c5853, #fab449);

    height: 100px;
  width: 100%;
  flex-direction: row;
  /* background: linear-gradient(to right, #d96614, #164437); */

  
  z-index: 1000;
}

 .logo-container{
        display: flex;
    align-items: center;
    /* gap: 20px; */
    width: 30%;
    justify-content: space-between;

}

.navbar-links{

    display: flex;
    align-items: center;
    gap: 20px;
    width: 40%;
    justify-content: space-between;
    padding-top: 15px;
}


.content {
    max-width: 90%;
    margin: auto;
    /* padding: 10px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links {
    display: flex;
    align-items: center;
    gap: 10px;
}
.link {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 30px;

}
.link:hover {
    color: rgb(220, 220, 220);
    background: linear-gradient(to right, #3a7475, #fdba3f);
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
    transform: translateY(-3px)

    
}

.shopping-cart-icon {
    height: 20px;
    height: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.profile-icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}