
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+AU+QLD:wght@100..400&display=swap');


#app-container {
  min-height: 100vh;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 100px;
  background-image: url(./assets/graduate.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#scrollable {
  padding-top: 100px;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  #scrollable {
    padding-top: 80px;
  }
}

@media (max-width: 480px) {
  #scrollable {
    padding-top: 70px;
  }
}
